body {
    color: black;
    font-family: "Monospace"
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f15656; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #231010; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #633535; 
}
